@import '../../variables/variaables.scss';

.methods {
    background-color: #FFF;
}

.methods__warp {
    max-width: $warp-1440;
    margin: 0 auto;
    padding: 100px 140px 150px 140px;
}

.methods__title {
    margin: 0 0 25px 0;

    color: #171A28;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Proxima Nova;
    font-size: $h2-font-size;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.methods__textContainer{
    max-width: 627px;
    padding: $textContainer-padding;
    margin-bottom: 20px;
}

.methods__paragraph {
    margin: 0;
    padding: 20px;

    color: #171A28;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Proxima Nova;
    font-size: $paragraph-font-size;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.methods__bottomline {
    width: 360px;
    border: 1px solid;
    border-color: $element-color;
    margin: 34px 0 0 0;
}

@media screen and (max-width: 1124px){
    .methods__warp {
        padding: 100px 50px 150px 50px;
    }
}

@media screen and (max-width: 984px) {
    .methods__warp {
        padding: 100px 74px 148px 74px;
    }
}

@media screen and (max-width: 568px) {
    .methods__warp {
        padding: 100px 15px 134px 15px;
    }

    .methods__title {
        line-height: normal;
    }

    .methods__bottomline {
        width: 100%;
    }
}