
$h2-font-size: 40px;
$h3-font-size: 24px;
$h4-font-size: 18px;
$paragraph-font-size: 14px;
$textContainer-padding: 20px;
$element-color: #3390EC;
$text-highlight-color: #0077FF;
$gradient: linear-gradient(270deg, #000046 -8.54%, #3390EC 100%), #FFF;
$light-gray-color: #F3F3F3;
$dark-gray-color: #D2D1D1;
$warp-1440: 1440px;