@import '../../variables/variaables.scss';

.reviews {
    background-color: #FFF;
    padding: 0 0 130px 0;
    overflow: hidden;
    display: flex;
    flex-direction:column;
    align-items: center;

    .reviews__wrap {
        max-width: $warp-1440;
        padding: 100px 140px 40px 140px;
        align-self: flex-start;
    }

    .reviews__title {
        margin: 0 0 25px 0;

        color: #171A28;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: Proxima Nova;
        font-size: $h2-font-size;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .reviews__textContainer {
        padding: $textContainer-padding;
        margin-bottom: 10px;

        .reviews__subtitle {
            margin: 0 0 4px 0;

            color: #171A28;
            font-variant-numeric: lining-nums proportional-nums;
            font-family: Proxima Nova;
            font-size: $h4-font-size;
            font-style: normal;
            font-weight: 700;
            line-height: 21px;
        }

        .reviews__paragraph {
            margin: 0;

            color: #171A28;
            font-variant-numeric: lining-nums proportional-nums;
            font-family: Proxima Nova;
            font-size: $paragraph-font-size;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
        }
    }
}

@media screen and (max-width: 1124px){
    .reviews__wrap {
        padding: 100px 50px 840px 50px !important;
    }
}

@media screen and (max-width: 984px) {

    .reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .reviews__wrap {
        padding: 100px 74px 40px 74px !important;
    }

    .reviews__title {
        margin: 0 0 30px 0 !important;
    }

    .reviews__textContainer {
        margin-bottom: 10px !important;
    }
}

@media screen and (max-width: 568px) {
    .reviews__wrap {
        padding: 100px 16px 40px 16px !important;
    }

    .reviews__textContainer {
        // margin-bottom: 20px !important;
        padding: 0 !important;
    }

    .reviews__title {
        margin: 0 0 40px 0 !important;
    }
}