.statContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


//TODO// .statElement__span {
//     color: var(--Header, #07F);
//     font-size: 43px;
// }