.nameContainer_gorbunov {
    border-radius: 20px 20px 0 20px;
    right: 280px;
}

.nameContainer_otinov {
    border-radius: 0 20px 20px 20px;
    left: 75px;
}

@media screen and (max-width: 984px) {
    .nameContainer_gorbunov {
        right: 0;
        left: 293px;
    }

    .nameContainer_otinov {
        left: 40px;
    }
}

@media screen and (max-width: 768px) {
    .nameContainer_gorbunov {
        left: 293px;
        bottom: 20px;
    }

    .nameContainer_otinov{
        left: 40px;
        bottom: 20px;

    }
}