@import '../../variables/variaables.scss';

.navList {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
    padding: 0;
}

.navList__item {
    margin: 0 12px 0 0;
    padding: 0;
    list-style-type: none;
    text-align: center;

}

.nav__link {
    color: #000;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Proxima Nova";
    font-size: calc( (100vw - 984px)/(1440 - 984) * (14 - 11) + 11px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: all-small-caps;
    text-decoration: none;
    cursor: pointer;
}