.burger {
  z-index: 2;
}

.burger__container {
  display: flex;
  flex-direction: column;
  margin-right: 9px;
  margin-top: 7px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.burger__container__input {
  display: block;
  width: 33px;
  height: 27px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 3;
  -webkit-touch-callout: none;
}

.burger__container__stripe {
  display: block;
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #3390EC;
  z-index: 2;
  transform-origin: 4px 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.burger__container .burger__container__stripe:first-child {
  transform-origin: 0 0;
}

.burger__container .burger__container__stripe:nth-last-child(2) {
  transform-origin: 0 100%;
  margin: 0;
}

.burger__container__input:checked ~ .burger__container__stripe {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, 0px);
}

.burger__container__input:checked ~ .burger__container__stripe:nth-last-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.burger__container__input:checked ~ .burger__container__stripe:nth-last-child(3) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -4px);
}

.burger-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  position: absolute;
  width: 520px;
  height: calc(100vh + 100px);
  margin: -100px 0 0 0;
  padding: 230px 50px 50px 50px;
  right: 0;
  overflow: hidden;
  visibility: hidden;
  z-index: 1;
  background: #FFFFFF;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0 0;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.burger-menu-list__string:last-of-type {
  padding: 0;
}

.burger-menu-list__string {
  padding: 0 0 28px 0;
}

.burger-menu-list__btn {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 0 28px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.burger-menu__list-navlink {
  margin: 0;
  text-decoration: none;
  font-size: 24px;
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-variant: all-small-caps;
  text-decoration: none;
  cursor: pointer;
}
.burger-menu__list-navlink:hover {
  transition: 0.05s ease-in-out;
  opacity: 0.5;
}

.burger-menu__list-navlink_active {
  margin: 0;
  padding: 4px;
  text-decoration: none;
  border-bottom: 2px #000 solid;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.burger-menu__container_auth {
  justify-self: end;
  margin-top: 621px;
}

.burger__substrate {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0.3;
  visibility: hidden;
  transition: transform 1s ease-in;
}

.burger__container__input:checked ~ .burger-menu-list {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.burger__container__input:checked ~ .burger__substrate {
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .burger-menu-list {
    transform: none;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}
@media screen and (max-width: 568px) {
  .burger__container {
    margin-right: 0;
  }
  .burger-menu-list {
    width: 100vw;
    height: inherit;
    padding: 215px 10px 444px 10px;
  }
  .burger-menu-list__string {
    padding: 0 0 25px 0;
  }
  .burger__substrate {
    visibility: hidden;
    opacity: 0;
  }
  .burger-menu__container_auth {
    margin-top: 442px;
  }
  .burger__container__stripe {
    width: 20px;
  }
  .burger__container__input:checked ~ .burger__container__stripe {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, 3.6px);
  }
  .burger__container__input:checked ~ .burger__container__stripe:nth-last-child(3) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -8.5px);
  }
}/*# sourceMappingURL=BurgerMenu.css.map */