@import '../../variables/variaables.scss';

.feedback {
    height: 898px;
    display: flex;
    justify-content: center;
    background: url("../../images/about_BG_image.png") no-repeat, #2C3333;
    background-size: cover;
}

.feedbck__wrap {
    max-width: 568px;
    min-width: 345px;
    margin: 100px 0;
}

.feedback__title {
    color: $light-gray-color;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Proxima Nova;
    font-size: $h2-font-size;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.feedback__paragraph {
    margin: 0;

    color: $light-gray-color;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Proxima Nova;
    font-size: $paragraph-font-size;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
}

@media screen and (max-width: 568px) {

    .feedback{
        height: 100%;
    }

    .feedbck__wrap{
        margin: 0;
    }
}